<div class="container login_form">
  <div id="logbox">
    <h1>create an account</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.email_field :email, autofocus: true, class: "input pass", placeholder: "Email address" %>
        <%= f.password_field :password, autocomplete: "off", required: "required", class: "input pass", placeholder: "Choose a password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", required: "required", class: "input pass", placeholder: "Confirm password" %>
        <%= f.submit "Sign me up!", class: "inputButton" %>
        <div class="text-center">
          already have an account? <%= link_to "login", new_user_session_path %>
        </div>
    <% end %>
  </div>
</div>
