<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cog fa-fw "></i>
      <%= 'System' %>
        <span>&gt;
          <%= link_to 'List of users', admin_users_path %>
        </span>
    </h1>
  </div>
</div>
<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-darken" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

      <header role="heading">
        <span class="widget-icon">
            <i class="fa fa-user"></i>
        </span>
        <h2>User View</h2>
      </header>

      <div role="content">
        <!-- widget content -->
        <div class="widget-body">
          <fieldset>
            <table id="user" class="table table-bordered table-striped" style="clear: both">
              <tbody>
              <tr>
                <td style="width:35%;">Image</td>
                <td style="width:65%"><%= image_tag(@user.avatar, width: 80) %></td>
              </tr>
              <tr>
                <td style="width:35%;">Email</td>
                <td style="width:65%"><%= @user.email %></td>
              </tr>
              <tr>
                <td style="width:35%;">Role</td>
                <td style="width:65%"><%= @user.role %></td>
              </tr>
              </tbody>
            </table>
          </fieldset>

          <div class="form-actions">
            <div class="row">
              <div class="col-md-12">
                <%= link_to 'Back', admin_users_url, :class => 'btn btn-default'%>
                <%= link_to 'Edit', edit_admin_user_path(@user), :class => 'btn btn-primary'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
