<!DOCTYPE html>
<html>
<head>
  <title>HwRailsCore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="">
  <%= render('shared/loading') %>
  <%= render('shared/admin/header') %>

  <div id="content">
    <%= render partial: 'shared/message' %>
    <%= yield %>
  </div>

  <%= render('shared/admin/footer') %>
  <%= render('shared/admin/shortcut') %>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>
